<!DOCTYPE html>
<html>
<head>
<title>Millie Entertainer</title>
<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico', v=123)}}">
</head>
<body>
	<center>
		<h1>Millie Entertainer</h1>
		<table>
			<tr>
				<td>
					<img src="{{url_for('static', filename='favicon.ico')}}">
				</td>
			</tr>
			<tr>
				<td>
					<button>Laser On</button>
				</td>
			</tr>
			<tr>
				<table>
					<tr>
						<td/>
						<td>
							<button>&#x25B2;</button>
						</td>
						<td/>
					</tr>
					<tr>
						<td>
							<button>&#x25C0;</button>
						</td>
						<td/>
						<td>
							<button>&#x25B6;</button>
						</td>
					</tr>
					<tr>
						<td/>
						<td align="center">
							<button>&#x25BC;</button>
						</td>
						<td/>
					</tr>
				</table>
			</tr>
		</table>
	</center>
</body>
</html>