<!DOCTYPE html>
<html>
<head>
<title>Millie Entertainer</title>
<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico', v=123)}}">
</head>
<style>
html *
{
   font-family: Arial !important;
}
</style>
<body>
	<center>
		<p style="font-size:30px">Millie Entertainer</p>
		<ul id="events">
			{% for event in Post.objects() %}
				<h3>{{ event }}</h3>
			{% endfor %}
		</ul>
		
		<table>
			<tr>
				<form method = "POST">
					<input type="submit" name="submit" value="Do Something">
				</form>
			</tr>
		</table>
	</center>
</body>
</html>